<!-- <img id="myImg" src="img_snow.jpg" alt="Snow" style="width:100%;max-width:300px">

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>  -->

<!-- <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="myImg">
</div>
<img (click)="pictureClicked(images[0].path)" id="myImg" [src]="images[0].path"> -->
<button id="backButton" (click)="backButton()" class="btn btn-primary">BACK</button>

<div id="artBackgroundDiv">
    <img *ngFor="let image of images" [src]="image.path" class="artImage">
</div>