
#meContainer {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgb(136, 47, 55);
}

#me {
    width: 200px;
    height: 200px;
    position: absolute;
}

#scroll {
    content: url("../../assets/images/blank-scroll-png-4.png");
    width: 90%;
    height: auto;
    margin-left: 10%;
}

#envelope {
    width: 90%;
    height: auto;
    position: absolute;
    bottom: -150px;  
    /* animation: shake 0.5s;
    animation-iteration-count: infinite; */
}

#story {
    position: absolute;
    left: 300px;
    top: 100px;
}

.storyFont {
    font-family: MedievalSharp; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 24px; 
}

.storyHeader1 {
    font-family: MedievalSharp; 
    font-style: bold; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 24px; 
}
