<div class="container">

	<img #borderImage>

	<img id="leftCloud" (click)="onClouds()" [@leftTopCloudState]="cloudState">
	<img id="rightCloud" (click)="onClouds()" [@rightTopCloudState]="cloudState">
	<h1>{{sunState}}</h1>
	<div class="d-flex justify-content-center">
		<div class="relative">
			<div [@listState]="listState" style="position: absolute;" id="listOfButtons">
				<app-list-button *ngFor="let buttonElement of buttons" [button]="buttonElement">{{buttonElement.title}}
				</app-list-button>
			</div>
			<div class="pulse" id="theSunDiv" [@sunState]="sunState">
				<div [@topState]="eggState" (click)="onEgg()" class="half-sun-bottom"></div>
				<div [@bottomState]="eggState" (click)="onEgg()" class="half-sun-top"></div>
			</div>
		</div>
	</div>

	<img id="darkCloudLeft" (click)="onClouds()" [@leftBottomCloudState]="cloudState">
	<img id="darkCloudRight" (click)="onClouds()" [@rightBottomCloudState]="cloudState">

</div>

<router-outlet></router-outlet>