.relative {
    position: relative;
    width: auto;
    align-items: center;
    height: 300px;
}

app-list-item { 
    font-family: MedievalSharp; 
    font-size: 124px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 24px; 
}

button > a {
    color: white;
}

button:hover {
    transform: scale(1.15);
}

.blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
}

#theSun {
    border: 1px solid gold;
    box-shadow: 0 0 0 0 gold;
    animation: pulse-red 2s infinite;
}

#theSunDiv {
    height: 800px;
    width: 80px;
    position: absolute;
}

#listOfButtons {
    right: 100px;
}

.pulse {
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        /* box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.7); */
    }
    
    70% {
        transform: scale(1);
        /* box-shadow: 0 0 0 10px rgba(255, 215, 0, 1); */
    }
    
    100% {
        transform: scale(0.95);
        /* box-shadow: 0 0 0 0 rgba(255, 215, 0, 0); */
    }
}