.half-circle-right {
    width: 100px;
    height: 200px;
    background-color: gold;
    border-top-right-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 10px solid gray;
    position: absolute;
    top: 0px;
    left: 10px;
    transform: 'rotate(80deg)';
}

.half-circle-left {
    width: 100px;
    height: 200px;
    background-color: gold;
    border-top-left-radius: 110px;
    border-bottom-left-radius: 110px;
    border: 10px solid gray;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: 'rotate(-80deg)';
}

.relative {
    position: relative;
    width: 400px;
    height: 300px;
}