<div class="container">
	<div class="relative">Relative
		<div [@leftState]="eggState" (click)="onEgg()" class="half-circle-left">Left</div>
		<div [@rightState]="eggState" (click)="onEgg()" class="half-circle-right">Right</div>
	</div>
	<div class="col-xs-12">
		<div class="row">
			<button [@divState]="state" (click)="onAnimate()" type="button" class="btn btn-primary">A BUTTON</button>
		</div>
		<div class="row">
			<button type="button" class="btn btn-primary">A BUTTON</button>
		</div>
		<div class="row">
			<button type="button" class="btn btn-primary">A BUTTON</button>
		</div>
		<div class="row">
			<button type="button" class="btn btn-primary">A BUTTON</button>
		</div>
		<div class="row">
			<button type="button" class="btn btn-primary">A BUTTON</button>
		</div>
		<div class="row">
			<button type="button" class="btn btn-primary">A BUTTON</button>
		</div>
		<div [@divState]="state" style="width: 100px; height: 100px; border: 2px solid white;"></div>
	</div>
</div>


<router-outlet></router-outlet>