body {
    background-image: url('backImage.png'); 
    background-size: cover;
}

#leftCloud {
    height: 180px;
    content: url('montyClouds.png');
}

#rightCloud {
    height: 180px;
    float: right;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    content: url('montyClouds.png');
}