body {
    background-image: url('backgroundRevised.png'); 
    background-size: cover;
}

#borderImage {
    content: url('borderImage.png');
    height: 500px;
}

.container {
    height: 100%;
}

#leftCloud {
    height: 180px;
    content: url('montyCloudsLeft.png');
}

#rightCloud {
    height: 180px;
    float: right;
    content: url('montyCloudsRight.png');
}

#darkCloudLeft {
    content: url('darkCloudLeft.png');
    height: 250px;
    position: absolute;
    bottom: 0;
    left: -100px;
}

#darkCloudRight {
    content: url('darkCloudRight.png');
    position: absolute;
    height: 250px;
    bottom: 0;
    right: -100px;
    float: right;
}

.half-sun-bottom {
    /* width: 100px; */
    height: 200px;
    content: url('montySunLower.png');
    position: absolute;
    top: 0px;
    left: 0px;
}

.half-sun-top {
    /* width: 100px; */
    height: 200px;
    content: url('montySunUpper.png');
    position: absolute;
    top: 0px;
    left: 0px;
}

.arrows {
    content: url('arrows.png');
    position: absolute;
    left: 0;
}

.btn2Text {
    margin: auto;
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin-top: 5px;
    padding-top: 17px;
}

.btn2 {
    background-image: url('buttonImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: MedievalSharp;
    border: 0px solid black;
    width: 250px;
    height: 75px;
    margin-left: 33%;
    margin-right: 25%;
}

.btn2:hover {
    transform: scale(1.2);
}
